body {
    margin: 0px;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    border: 1px solid black;
}

.output-addition-container {
    display: flex;
    min-width: 500px;
    flex-direction: row;
}

h3 {
    margin: 10px 0px;
    text-align: center;
}

.output-addition__body {
    height: 110px;
}

.output-addition {
    display: flex;
    flex-direction: column;
}