body {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 10vw;
}

div {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1.5vw 1.5vw 1.5vw 2.1vw;
}

ul {
    list-style-type:decimal-leading-zero;
}

